<div class="container">                        
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title m-b-0">Horario dia 26/06/24</h1>
            </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Box</th>
                                <th scope="col">Medico</th>
                                <th scope="col">Horario</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr>
                                <td>1</td>
                                <td>Sofia Alvarez</td>
                                <td>7:00 - 10:00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Valentina Ruiz</td>
                                <td>7:00 - 12:00</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Diego Hernandez</td>
                                <td>7:00 - 10:00</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Jose Ramos</td>
                                <td>7:00 - 10:00</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Alexandra Mendoza</td>
                                <td>9:30 - 12:30</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Santiago Garcia</td>
                                <td>7:00 - 9:00</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Victoria Martinez</td>
                                <td>9:30 - 13:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
   </div>
