<div class="container">                        
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title m-b-0">Horario dia 26/06/24</h1>
            </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Hora</th>
                                <th scope="col">Paciente</th>
                                <th scope="col">Box</th>
                                <th scope="col">Detalles</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr>
                                <td>7:30 - 8:00</td>
                                <td>Carolina Rivera</td>
                                <td>5</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>8:10 - 8:40</td>
                                <td>Maria Teresa</td>
                                <td>5</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>16:00 - 16:30</td>
                                <td>Carlos Savedra</td>
                                <td>8</td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td>16:40 - 17:10</td>
                                <td>Julian Torres</td>
                                <td>8</td>
                                <td>...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
   </div> 