<div class="container">
    <div class="dialog">
      <div class="content">
        <div class="header">
          <h1 class="title fs-5">Reserva tu Hora</h1>
          <button type="button" class="btn-close" mat-dialog-close style="margin-left: 210px;"></button>
        </div>
        <div class="body">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" routerLinkActive="active" routerLink="website/consultas" mat-dialog-close type="button">Consultas Medicas</button>
                <button class="btn btn-success" type="button">Examenes y Procedimientos</button>
              </div>
        </div>
      </div>
    </div>
  </div>
