<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="get-in-touch">
   <h1 class="title">Generar Receta</h1>
   <h2 class="text">Christian Vejar</h2>   
   <form class="contact-form row">
      <div class="form-field col-lg-6">
         <input id="name" class="input-text js-input" type="text" required>
         <label class="label" for="name">Medicamento</label>
      </div>
      <div class="form-field col-lg-6 ">
        <input id="email" class="input-text js-input" type="email" required>
        <label class="label" for="email">Instrucciones</label>
     </div>
      <div class="form-field col-lg-6 ">
         <input id="email" class="input-text js-input" type="email" required>
         <label class="label" for="email">Medicamento</label>
      </div>
      <div class="form-field col-lg-6 ">
        <input id="email" class="input-text js-input" type="email" required>
        <label class="label" for="email">Instrucciones</label>
     </div>
      <div class="form-field col-lg-6 ">
         <input id="company" class="input-text js-input" type="text" required>
         <label class="label" for="company">Medicamento</label>
      </div>
      <div class="form-field col-lg-6 ">
        <input id="email" class="input-text js-input" type="email" required>
        <label class="label" for="email">Instrucciones</label>
     </div>
       <div class="form-field col-lg-6 ">
         <input id="phone" class="input-text js-input" type="text" required>
         <label class="label" for="phone">Medicamento</label>
      </div>
      <div class="form-field col-lg-6 ">
        <input id="email" class="input-text js-input" type="email" required>
        <label class="label" for="email">Instrucciones</label>
     </div>
      <div class="form-field col-lg-6">
         <input id="message" class="input-text js-input" type="text" required>
         <label class="label" for="message">Medicamento</label>
      </div>
      <div class="form-field col-lg-6 ">
        <input id="email" class="input-text js-input" type="email" required>
        <label class="label" for="email">Instrucciones</label>
     </div>
     <div class="form-field col-lg-12 ">
        <input id="email" class="input-text js-input" type="email" required>
        <label class="label" for="email">Firma</label>
     </div>
      <div class="form-field col-lg-12 text-center">
         <input class="submit-btn" type="submit" value="Generar" (click)="onGenerate() " mat-dialog-close>
      </div>
   </form>
</section>

